    body{
    width: 100%;
    max-width: 500px;
    color: white;
    font-family: 'chalk';
    font-size: 1em;
    background-image: url(src/img/photo-1614292253389-bd2c1f89cd0e.avif);
    background-size: cover;
    margin: auto;
    text-align: center;
   }
h1{
    font-size: 3em;
    color: white;
}
h3{
    margin-top: 100x;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size:1.8em;

}

a{
    text-decoration: none;
}

#addMateriaBtn {
    font-family: 'chalk';
    box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.75);
    border: none;
    height: 20px;
    border-radius: 4px;
}

.modificar-pesos-btn, button{   
    font-family: 'chalk';
    box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.75);
    border: none;
    height: 28px;
    border-radius: 4px;
    margin: 5px;
}

#Swal.fire {
    background-color: red;
}

input{
    font-family: 'chalk';
    color:white;
    font-size: 0.9em;
    background-color:rgb(32, 32, 32);
    width: 60px;
    margin: 5px 10px;
    height: 20px;
    align-content: left;
    border-radius: 8px;
}
    
#materiaInput{
    font-family: 'chalk';
    color:white;
    font-size: 0.9em;
    background-color:rgb(32, 32, 32);
    width: 200px;
    margin: 5px 10px;
    height: 20px;
    text-align: center;
    border-radius: 8px;
}


p{
    font-size: 1.3em;
}

#materiasContainer{
    border: 2px dotted white ;
    margin: 20px;
    padding: 0px 10px;
    padding-bottom: 20px;
    border-radius: 26px;
}


@font-face {
    font-family: Chalk;
    src: url(src/Font/Chalkboard-Regular.ttf);
}
