body{
    min-width: 480px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 239, 241);
}

main{
text-align: center;
width: 60%;
}
a{
    text-decoration: none;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*------------------inicio de sesion--------------------*/


.boton{
    background-color: silver; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: center;
}


p#bienvenida {
    display: flex;
    text-align: center;
    margin: 50px;
}

.box{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin: 50px;
}

.box label{
    display: block;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 600;
}

.box input{
    width: 80%;
    padding: 0.8rem;
    border: 1px solid silver;
    border-radius: 8px;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    transition: border 0.2s ease-in-out;
}

#registro{
    padding: 30px;
    font-size: 0.8em;
}

